<div class="min-h-screen flex justify-center bg-background transition-colors duration-300">
  <div class="w-full flex">
    <div class="hidden md:flex flex-col w-1/2 bg-primary text-white relative p-12 lg:p-20">
      <header class="flex flex-col">
        <img
          src="img.png"
          alt="Customer Portal Logo"
          class="object-contain h-32 w-32 sm:h-40 sm:w-40 lg:h-48 lg:w-48"
        />
      </header>

      <div class="flex flex-col justify-center items-start w-full space-y-6 my-auto max-w-2xl">
        <h1 class="text-5xl lg:text-6xl font-medium tracking-tight leading-tight">
          Enterprise support, built for Customers
        </h1>

        <p class="text-xl lg:text-2xl text-white/80">
          Raise tickets, track resolution, and access knowledge in one secure portal.
        </p>
      </div>

      <div class="mt-auto"></div>
    </div>

    <div class="w-full md:w-1/2 flex items-center justify-center p-8 relative">
      <div class="absolute top-4 right-4">
        <app-theme-switcher></app-theme-switcher>
      </div>

      <div class="w-full max-w-md">
        <div class="mb-8 text-center">
          <p class="text-4xl font-medium tracking-wide leading-tight text-primary">
            Sign in to your portal
          </p>

          <h3 class="text-xl text-text-muted mt-2">Use your mail to continue</h3>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
          <app-ui-input
            id="email"
            label="Email Address"
            type="email"
            placeholder="test@adrenalin.com"
            [control]="$any(loginForm.get('email'))"
          ></app-ui-input>

          <app-ui-input
            id="password"
            label="Password"
            type="password"
            placeholder="••••••••"
            [control]="$any(loginForm.get('password'))"
          ></app-ui-input>
          <div class ="mt-5">
            <app-ui-button type="submit" [disabled]="isLoading() || loginForm.invalid">
              @if (isLoading()) {
                <svg class="animate-spin h-6 w-6 text-white" fill="none" viewBox="0 0 24 24">
                  <circle
                    class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4"
                  ></circle>
                  <path
                    class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                  ></path>
                </svg>
              } @else {
                <span>Sign in</span>
              }
            </app-ui-button>
          </div>
        </form>

        <p class="text-center text-lg text-text-muted mt-6">
          Don’t have an account?
          <a routerLink="/signup" class="text-primary font-medium hover:underline ml-1">
            Sign up
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
